<a href="https://colab.research.google.com/github/Knaphade26/DS_Python/blob/main/pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import Python Libraries
import numpy as np
import pandas as pd

In [ ]:
#Read csv file
df = pd.read_csv("/content/Salaries.csv")

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.head(20)

In [ ]:
df.head(50)

# Data frame attributes

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df.axes

In [ ]:
df.values

In [ ]:
df.shape

In [ ]:
df.ndim

In [ ]:
# It gives rows
df.shape[0]

In [ ]:
# It gives rows
df.shape[1]

In [ ]:
print(df.columns)

In [ ]:
dir(df)

In [ ]:
df.describe()

In [ ]:
df.mean()

In [ ]:
df.median()

In [ ]:
df.count()

In [ ]:
df.std()

In [ ]:
# Mean Of Top 50 Rows
df_50rows = df.head(50)
df_50rows.mean()

In [ ]:
df['salary']

In [ ]:
df.salary

In [ ]:
df[['salary']]

In [ ]:
#df['phd'].describe()
df.phd.describe()

In [ ]:
df['phd'].count()
#df.phd.count()

In [ ]:
#df['phd'].mean()
df.phd.mean()

# **Group by Method**

In [ ]:
group = df.groupby(['rank'])

In [ ]:
group.mean()

In [ ]:
df.groupby('rank')[['salary']].mean()

In [ ]:
# Filter in Python
# print the rows where the salary is more than 120k
df['salary']

In [ ]:
#df[['salary']]>120000
df[df['salary']>120000]

In [ ]:
df['discipline']=='B'

In [ ]:
df[df['discipline']=='B']

In [ ]:
df[(df['rank']=="Prof") & (df['discipline']=="A")]

In [ ]:
df.head(5)

In [ ]:
df.iloc[0:4]

In [ ]:
df.iloc[2:7]

In [ ]:
df.iloc[:,-3:]
#df.iloc[:,3:]

In [ ]:
df.iloc[1:6,0:3]

In [ ]:
# Aggregation
df[["phd","salary"]].agg(['min','mean','max','std'])